.page2, #artistmodal, #recordingmodal {
	
	text-align: center;
	background: #FFF;
}

IMG.album-cover { width: 100%; height: auto;  }

H2#recording-name { background: #fff; font-size: 0.85em; }


.artist-modal, .recording-modal { background: #fff;  }

.album-art-thumbnail { 
	width: 60px; height: 60px;
	margin-right: 10px; 
	z-index: -20; 
}

#recordings .item-inner ion-label { vertical-align: top; }
.year-of-release { font-size: 0.6em; }

#recording-playbutton { min-width: 50px !important; min-height: 50px !important; }
#recording-playbutton IMG {  width: 50px !important;  height: 50px !important; background: none;  } 

#recording-page-now-playing {  font-size:2.2em;  }

#recording-prevbutton, #recording-nextbutton {

	margin: 0;
	padding: 0;
	width: 30px !important;  height: 30px !important; background: none; 
}

#track-details { margin-left: 10px; }


#rfp-player { text-align: center; } 

#tracks .item { padding-left: 0;  }
#tracks .item .item-inner ion-label { margin-left: 10px ; }

.track-now-playing {

	background: orange;
	

}