.page1 {

	text-align: center;
}


.rfp-player {

	width: auto;
	height: vh 20%;
	min-height: 200px;

}

#playbutton {  background: none; padding: 5%; text-align: center !important; min-height: 250px;   }

#playbutton IMG { width: auto;  height: vh 30%;  margin: auto;  }

#rfp-hidden-player { 

display: none;  


}

a:hover { color: orange; cursor: pointer; }

#metadata-wrapper { padding: 2%;  }
#artist { font-size: 1.2em; color: red; text-align: center; }
#track { font-size: 2.5em; color: red; text-align: center;  }